<div class="main">
    <div id="messages"></div>
    <div class="controlPanel">
        <div id="selectScript"></div>
        <div class="control-button">
            <button id="newFilter">new Filter</button>
            <button id="addFilter">add Filter</button>
            <button id="cleanFilterButton">clear Filter</button>
        </div>
    </div>
    <h2 id="reportName"></h2>
    <div id="output2"></div>
    <div id="statusBar"></div>
    <div id="simplechart"></div>
    <div id="grid"></div>
</div>
