<div class="main">
    <div id="messages"></div>
    <div class="controlPanel">
        <div id="selectScript"></div>
        <div class="control-button">
            <button id="newFilter" ></button>
            <button id="addFilter" ></button>
            <button id="cleanFilter" ></button>
        </div>
    </div>
    <div id="alertBlock">
        <div id="output2"></div>
        <button id="closeAlert">&times;</button>
    </div>

    <h2 id="reportName"></h2>
    <div id="simplechart"></div>
    <div id="grid"></div>
</div>
