.icons {
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
}

.eq {
    background-image: url("../images/eq.png");
}

.ne {
    background-image: url("../images/ne.png");
}

.gt {
    background-image: url("../images/gt.png");
}

.gte {
    background-image: url("../images/gte.png");
}

.lt {
    background-image: url("../images/lt.png");
}

.lte {
    background-image: url("../images/lte.png");
}

@media (min-width: 1320px) {
    .controller-tree {
        margin-left: 25%;
    }
}

.controller-tree-list > li > span.controller-tree-icons {
}

.controller-tree-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.controller-tree-list > li {
    width: 70px;
    display: inline-block;
}