<div>
    <h3> Редактирование Фильтра </h3>

    <ul class="tree_editor">
        <li>
            <button class="btn" data-dojo-attach-point="saveFilterBtnNode"></button>
        </li>
        <li>
            <div class="controller-tree-${name}">
                <ol class="controller-tree-list" data-dojo-attach-point="controlPanelNode"></ol>
            </div>
        </li>
        <li>
            <div id="filters-${id}" data-dojo-attach-point="filterTreeNode"></div>
        </li>
    </ul>
</div>